body 
{
  background-color: #F7F7F7;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.navbar 
{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

#logo 
{
  width: 4rem;
  margin: 0.8rem 0.4rem;
}

.fa-bars 
{
  font-size: 3.5rem;
  margin: 0.8rem 0.4rem;
}

.items ul li 
{
  text-decoration: none;
  display: inline-block;
  margin-right: 6rem;
}

.items ul a 
{
  text-decoration: none;
  color: black;
}

.items ul a:hover 
{
  color: grey;
}
/* Banner */

.banner 
{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  object-fit: cover;
  margin-bottom: 64px;
}

.banner h1 
{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

.banner p 
{
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  text-align: center;
}

.apropos {
  border-bottom: 1px solid black;
  padding-bottom: 64px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  border-bottom: 1px solid black;
}

.card-menu {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 16px 16px 16px;
}

form {
  text-align: center;
}

fieldset {
  margin:0 auto;
  padding: 10px;
}

footer {
  background-color: #5d5d5d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  margin-left: 24px;
}

footer a:hover {
  color: rgb(190, 103, 21);
}
.social-network {
  margin-left: 1%;
}

.links {
  margin-right: 2%;
}

/* Media */

@media screen and (max-width:961px) {
.items ul {
    display: none;
  }
.banner {
    height: 20px;
  }
.banner h1{
  font-size: 20px;
  }
.banner p{
font-size: 17px;
text-align: center;
  }
  footer {
    flex-direction: column;
  }
  footer a {
    width: 30%;
  }
  .social-network {
    margin-bottom: 16px;
  }
}

@media screen and (min-width:961px) {
  .fa-bars {
    display: none;
    }
  h2 {
    text-align: left;
  }
  .menu {
    justify-content: space-between;
    }
  .card-menu {
    height: 200px;
    width: 300px;
  }
}