body 
{
  background-color: #eadca6;
  color: #5a3921;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Lato', sans-serif;
  overflow-wrap: break-word;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

/* navbar */

.navbar 
{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#myLinks {
  display: none;
}

.nav-links {
  background-color: white;
}

.nav-links a {
  color: #5a3921;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-links a:hover, .burger:hover {
  background-color: #5a3921;
  color: #ffffb5;
}

#logo 
{
  width: 4rem;
  margin: 0.8rem 0.4rem;
}

.fa-bars 
{
  font-size: 3.5rem;
  padding: 0.8rem;
  color: #5a3921;
}

.items ul li 
{
  text-decoration: none;
  display: inline-block;
  margin-right: 6rem;
}

.items ul a 
{
  text-decoration: none;
  color: #5a3921;
}

.items ul a:hover 
{
  color: #6b8c42;
}

/* Banner */

.banner 
{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  object-fit: cover;
  margin-top: 24px;
  margin-bottom: 24px;
}

.banner h1 
{
  margin: 0;
  color: #ffffb5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

.banner p 
{
  font-size: 20px;
  color: #ffffb5;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  text-align: center;
}

/* A propos */

.apropos {
  border-bottom: 1px solid #5a3921;
  word-wrap: initial;
}

/* Menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #5a3921;
}

.card-menu {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 16px 16px 16px;
}

/* Reservation */

.booking {
  padding-bottom: 24px;
  border-bottom: 1px solid #5a3921;
}

form {
  text-align: center;
}
input, select, textarea {
  width: 90%;
}

/* comment */

.Avis 
{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-bottom: 24px;
}

.Avis_1
{
  display:flex;
  flex-direction: column ;
  height: 200px;
  width: 400px;
  background-color:white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}


.gold{ color: gold;}

.gray{ color: gray;}


.avatar 
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10%;
}

.Pack
{
  display: flex;
  flex: column;
  justify-content: space-around;
  align-content: center ;
}

.Stars
{
  display: flex;
  margin-top: 5%;
}

.nom
{
  display: flex;
  margin-top: 5%;
  margin-left: 35%;
}

.text
{
  display: flex ;
  font-family:sans-serif;
  align-self: center;
}

.form-comment {
  padding-bottom: 24px;
  border-bottom: 1px solid #5a3921;
}

/* Events */
.card-event {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1%;
  margin-bottom: 24px;
}

.content-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-event {
  padding-bottom: 24px;
  border-bottom: 1px solid #5a3921;
}

.content-event img {
  width: 100%;
  height: auto;
}

.btn-green {
  text-decoration: none;
  background-color: #6b8c42;
  padding: 8px 24px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn-green:hover {
  background-color: #7bc67b;
}

/* map */

.map {
align-content: center;
}

/* Contact */

.contact p {
  padding-left: 4px;
}

/* footer */
footer {
  background-color: #5a3921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  margin-left: 24px;
}

footer a:hover {
  color: rgb(190, 103, 21);
}
.social-network {
  margin-left: 1%;
}

.links {
  margin-right: 2%;
}

/* Media */

@media screen and (max-width:961px) {
.items ul {
    display: none;
  }
.banner {
    height: 20px;
  }
.banner h1{
  font-size: 20px;
  }
.banner p{
font-size: 17px;
text-align: center;
  }
.textfordesktop {
  display: none;
}
.message {
  width: 90%;
}
.comment {
  width: 90%;
}
footer {
  flex-direction: column;
}
footer a {
  width: 30%;
}
.social-network {
  margin-bottom: 16px;
}
.h2map {
  display: none;
}
.map {
  display: none;
}
}

.Avis_2
{
display: none;
}

@media screen and (min-width:961px) {

  .container {
    width: 80%;
  }
  .navbar {
    position: sticky;
    top: 0px;
  }
  .fa-bars {
    display: none;
    }
  .banner {
    margin-bottom: 56px;
  }
  h2 {
    text-align: left;
  }
  .menu {
    padding-bottom: 56px;
    }
  .card-menu {
    height: 300px;
    width: 400px;    
  }
  .card-event {
    margin-bottom: 56px;
  }
  .booking {
    padding-bottom: 56px;
  }
  .message {
    height: 120px;
    align-self: auto;
  }
  .Avis
  { 
    flex-direction: row;
    align-content: space-around;
    margin-bottom: 56px;
  }
  
  .Avis_1
  {
    height: 200px;
    width: 400px;
    background-color:white;
    text-align: center;
    margin-right: 5%;
  }

  .Avis_2
  {
    display:flex;
    flex-direction: column ;
    align-content: center ;
    height: 200px;
    width: 400px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
  }
.form-comment {
  padding-bottom: 56px;
}
}